.equation-editor {
	display: grid;
	grid-template-areas: "equation output"
	                     "message message"
	                     "options options";
	width: 40rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 5px 5px 5px;
}

.latex {
	background-color: #444;
	grid-area: equation;
	width: 20rem;
	height: 12rem;
}

.latex textarea {
	margin-left: 1.5rem;
	width: 17rem;
	margin-top: 1.5rem;
	height: 7rem;
}

.output {
	background-color: white;
	grid-area: output;
	width: 20rem;
	height: 12rem;
	border: 1px solid black;
}
